
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		

		<section class="account-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-8 m-auto">
						<div class="account-form-wrap">
							<div class="login-form">
								
								<form th:object="${account}" th:action="@{/auth/login}" method="post">
									<div class="row">
										<div class="col-12" th:if="${message}">
											<div class="alert alert-warning p-2">
												<i class="text-danger" th:text="${message}"></i>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<label class="form-label">Username</label>
												<input th:field="*{username}" class="form-control mb-1" type="text"
													placeholder="Enter your username">
												<small th:errors="*{username}" style="color: red"></small>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<label class="form-label">Password</label>
												<input th:field="*{password}" class="form-control mb-1" type="password"
													placeholder="Enter your password">
												<small th:errors="*{password}" style="color: red"></small>
											</div>
										</div>
										
										<div class="col-12">
											<div class="login-form-group">
												<button class="btn-sign" type="submit">Sign In</button>
												
											</div>
										</div>
									
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>